.tablem,
.tablem th,
.tablem td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}
body {
    background-color: rgb(204, 255, 255);
}
dt {
    color: blue;
    font-size: 20px;
}